<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Chart.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.0/chart.min.js" integrity="sha512-asxKqQghC1oBShyhiBwA+YgotaSYKxGP1rcSYTDrB0U6DxwlJjU59B67U8+5/++uFjcuVM8Hh5cokLjZlhm3Vg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Trendline -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js/dist/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-trendline"></script>

    <title>CryptoFolio.com</title>
  </head>
  <body class="bg-dark text-white ">

    <div class="container-fluid"> <!-- -fluid permet au container de prendre toute la largeur d'écran -->

      <div class="row text-center">
        <div class="col mb-2">
          <h1 class="text-white mt-5 mb-5">Tableau de bord - {{ page_label }}</h1>
          <a href="{% url 'home' days_range=7 currencies=currencies %}" class="btn {% if page_label == 'Semaine' %}btn-info {% else %}btn-secondary {% endif %}">Semaine</a>
          <a href="{% url 'home' days_range=30 currencies=currencies %}" class="btn {% if page_label == 'Mois' %}btn-info {% else %}btn-secondary {% endif %}">Mois</a>
          <a href="{% url 'home' days_range=150 currencies=currencies %}" class="btn {% if page_label == '5 mois' %}btn-info {% else %}btn-secondary {% endif %}">5 mois</a>
        </div>
      </div>

      <div class="row justify-content-center text-center">
        <div class="col-md-10 col-lg-6">
          <h5 class="mt-1 mb-2 text-info">Mode d'emploi : </h5>
          <p>Pour changer, ajouter ou supprimer une crypto-monnaie, tout se passe dans l'URL : indiquez
          le code du ou des tokens que vous souhaitez afficher après "currencies=".
            Chaque code séparé par une virgule (exemple : currencies=ETH,DOT,HOT,EGLD...)</p>
          <p class="text-warning">Cette plateforme ne permet qu'un affichage sur 150 jours maximum.</p>
        </div>
      </div>

      <div class="row justify-content-center">
        {% for currency, rates in data.items %}
        <div class="col-md-10 col-lg-6 bg-light rounded">
          <canvas id="chart-{{ currency }}"></canvas>
        </div>
        {% endfor %}
      </div>
    </div>

    <footer class="text-center text-info pt-5">
      <p>morgan-nott.fr</p>
      <p>Bachelor 2ème année - Développeur Concepteur d'applications Web & Mobile</p>
    </footer>

  <script>
    {% for currency, rates in data.items %}
        var ctx = document.getElementById("chart-{{ currency }}");
        /* Création d'une instance de "chart" */
        new Chart(ctx, {
            type: 'line',
            data: {labels: {{ days_labels|safe }},
                datasets: [{
                    label: "Cours de : {{ currency }}",
                    data: {{ rates|safe }},
                    fill: false,
                    backgroundColor: 'rgb(140, 128, 128)',
                    // tension: 3,
                    borderColor: 'rgb(255, 128, 128)',
                    trendlineLinear: {
                        style: "#9AE1F8",
                        lineStyle: "dotted|solid",
                        width: 3
              }
            }]
          }
        });
    {% endfor %}





  </script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

  </body>

</html>